<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rule Based System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

  <nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{{url_for('static', filename='imgs/ueb-logo.png')}}" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Universidad El Bosque
      </a>
      <span class="navbar-text">
        Sistemas Inteligentes
      </span>
  
    </div>
  </nav>

    <div class="container p-3">
        <h1>Decide the profession that best suit you.</h1>
        
        <div class="row">
            <!-- SABER 11 RESULTS SECTION -->
            <div class="col-sm-4 p-3">
                <h2>Saber 11 results.</h2>
                <div class="p-3">
                  <div class="input-group mb-3">
                      <span class="input-group-text">Mathematics:</span>
                      <input type="text" class="form-control" placeholder="Your grade." id="math-grade">
                      <span class="input-group-text">/100</span>
                  </div>
                  <div class="input-group mb-3">
                      <span class="input-group-text">Natural Sciences:</span>
                      <input type="text" class="form-control" placeholder="Your grade." id="natural-grade">
                      <span class="input-group-text">/100</span>
                  </div>
                  <div class="input-group mb-3">
                      <span class="input-group-text">Social Sciences:</span>
                      <input type="text" class="form-control" placeholder="Your grade." id="social-grade">
                      <span class="input-group-text">/100</span>
                  </div>
                </div>
                <div class="p-3">
                  <button type="button" class="btn btn-primary" id="btn-grades" onclick="uploadGrades_pressed()">Upload grades</button>
                </div>
                
                <div class="p-3" id="div-cat"></div>
            </div>

            <!-- YOUR PREFERENCES SECTION -->
            <div class="col-sm-4 p-3">
                <h2>Your preferences.</h2>
                <div class="p-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="pref-humanities">
                    <label class="form-check-label" for="flexCheckDefault">
                        Humanities
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="pref-engineering">
                    <label class="form-check-label" for="flexCheckDefault">
                        Engineering
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="pref-sciences">
                    <label class="form-check-label" for="flexCheckDefault">
                        Sciences
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="pref-health">
                    <label class="form-check-label" for="flexCheckDefault">
                        Health
                    </label>
                </div>
                </div>
                <button type="button" class="btn btn-primary disabled" id="btn-preferences" onclick="uploadPreferences_pressed()">Upload preferences</button>
            </div>
            <div class="col-sm-4 p-3">
              <h2>Follow the reasoning.</h2>
              <div class="p-3">
                <ul class="list-group" id="reason-list"></ul>
              </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>
